.darkmode .auth-url:link {
    color: lightskyblue;
}

.darkmode .auth-url:visited {
    color: #aa76db;
}

.darkmode .auth-url:hover {
    color: #ffffff;
}

.darkmode .auth-url:active {
    color: #ff4040;
}

.darkmode body {
    --color-main: rgba(255, 255, 255, .75);
    --color-background: #191919;
    --color-input-background: #575757;
    --color-block: #373737;
    --color-disabled: rgba(255, 255, 255, 0.6);
}

.darkmode .button-top,
.darkmode .page-block,
.darkmode .request-form {
    border-color: #0000;
}

.darkmode .request-form {
    box-shadow: none;
}

.darkmode .paginator menu>a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.darkmode .page-form>input[type=submit] {
    background-color: rgba(255, 255, 255, 0.5);
}

.darkmode .page-form>input[type=submit]:hover {
    /* background-color: rgb(81, 165, 95); */
    background-color: var(--color-main);
    color: black;
}