:root {
    --form-width: 350px;
    --setting-transition-time: 0.2s;
}

body {
    margin: 0;
    padding: 0;
    --color-main: rgba(0, 0, 0, .8);
    --color-background: white;
    --color-input-background: white;
    --color-block: var(--color-background);
    --color-disabled: rgba(0, 0, 0, 0.43);
    color: var(--color-main);
    background-color: var(--color-background);
}

input[type=button],
input[type=submit] {
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: var(--color-disabled);
}


input {
    background-color: var(--color-block);
    border-color: var(--color-disabled);
    color: inherit;
}


.header {
    margin: 8px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
}

.header>a {
    color: inherit;
    text-decoration: inherit;
}

.header>a:hover {
    text-decoration: underline;
}

.button-top {
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;
    margin: 12px;
    font-size: 1em;
    border-radius: 250px;    
    color: var(--color-main);
    border: 2px solid var(--color-main);
    background-color: var(--color-block);
    cursor: pointer;
    opacity: 70%;
    visibility: visible;
}

.button-top_hidden {
    opacity: 0;
    visibility: hidden;
}

.request-form {
    display: block;
    width: var(--form-width);
    margin: 10px auto;
    padding: 6px 8px;
    background-color: var(--color-block);
    border-radius: 10px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.request-form__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.request-form__row:first-child {
    margin-top: 0;
}

.auth-url {
    margin-top: 4px;
    text-align: center;
}

.auth:empty {
    display: none;
}

/* Form labels and inputs */

label.request-form__access_token,
label.request-form__offset,
label.request-form__limit {
    margin-left: 0;
}

input.request-form__access_token {
    /* background-color: rgb(255, 0, 179); */
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

input.request-form__offset,
input.request-form__limit {
    margin: 0 6px 0 2px;
    flex-grow: 1;
}

input.request-form__offset {
    min-width: 6em;
}


input.request-form__limit {
    min-width: 3em;
}

.label-show-setting {
    --arrow-size: 0.8em;
    /* user-select: none; */
    cursor: pointer;
}

.label-show-setting::after {
    position: absolute;
    content: '▲';
    font-size: var(--arrow-size);
    margin-left: 2px;
    transform: translateY(calc(1em - var(--arrow-size)));
    transition: transform ease-in var(--setting-transition-time);
}

.label-show-setting_active::after {
    transform: translateY(calc(1em - var(--arrow-size))) rotate(180deg);
    transition-timing-function: ease-out;
}

.setting {
    max-height: 80px;
    display: flex;
    flex-wrap: wrap;
    transition-property: margin, max-height;
    transition-timing-function: ease-in;
    transition-duration: var(--setting-transition-time);
    overflow: hidden;
}

.setting_disabled {
    max-height: 0;
    margin: 0;
    transition-timing-function: ease-out;
}

.setting__row {
    display: flex;
    flex: 1 0 calc(50% - 2px * 2);
    justify-content: left;
}

.setting__row input[type=checkbox] {
    margin-left: 0;
}

/* Paginator */

.paginator {
    margin: 8px 0;
    text-align: center;
}

.paginator menu {
    display: table;
    border-collapse: collapse;
    padding: 0;
    margin: 5px auto;
}

/* Paginator cells */

.paginator menu>* {
    display: table-cell;
    border: 1px solid var(--color-main);
    /* line-height: 33px; */
    min-width: 35px;
    text-decoration: none;
    color: var(--color-main);
}

.paginator menu>*:not(:last-child) {
    border-right: none;
}

.paginator__button_disabled {
    --color-main: var(--color-disabled) !important;
    pointer-events: none;
}

.paginator menu>a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.page-selector-wrapper {}

.page-form {
    /* background-color: aqua; */
    display: flex;
    align-items: stretch;
    height: 33px;
}

.page-form>input[type=number],
.page-form>input[type=submit] {
    border: none;
    background-color: #0000;
    align-items: center;
    display: flex;
}

.page-form>input[type=number] {
    /* background-color: rgb(169, 170, 78); */
    flex: 1;
    min-width: 3em;
    margin: 4px;
    width: 6em;
    /* font-size: 0.9em; */
}

.page-form>input[type=submit] {
    /* background-color: rgb(81, 165, 95); */
    padding: 0 9px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    min-width: 35px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.page-form>input[type=submit]:hover {
    /* background-color: rgb(81, 165, 95); */
    padding: 0 9px;
    background-color: var(--color-main);
    color: white;
}

@media (max-width: 420px) {

    .request-form {
        margin: 5px auto;
        width: calc(100% - 10px * 2);
    }
}