@media (max-width: 420px) {
    body {
        padding: 4px;
    }

    .search-form {
        margin: 5px 5px;
        width: calc(100% - 10px * 2);
    }

    label.search-form__access_token {
        display: none;
    }

}